<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static '/e-commerce/css/base.css' %}">
        <title>{% block title %}Marvel Comics e-commerce{% endblock %}</title>
        <h1>{{user.username}}   </h1>
    </head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>